<h1>New Article</h1>

<%= error_messages_for :article %>

<% form_for(:article, :url => project_articles_path) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
<br/>
<%= link_to 'Back', project_articles_path %>