<% title @wiki.title %>




<p><%= link_to "Back to Wiki", project_wikis_path %></p>

<% unless @wiki.comments.empty? %>
  <h2><%= pluralize(@wiki.comments.size, 'comment') %></h2>

  <div id="comments">
  <% for comment in @wiki.comments %>
    <div class="comment">

      <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
      <%=simple_format comment.description %>
    </div>
  <% end %>
  </div>
<% end %>


