
<p>
  <label for="asset_attachable">Attachable:</label>
  <%= f.text_field :attachable %>
</p>

<p>
  <label for="asset_data_file_name">Data file name:</label>
  <%= f.text_field :data_file_name %>
</p>
